@font-face {
  font-family: "Poppins Regular";
  src: url(../public/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../public/font/Poppins-Bold.ttf);
}

* {
  font-family: "Poppins Regular";
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 5rem 0 0 25rem ;
}

/* SEARCHBAR */
.searchbar {
  position: absolute;
  top: 0;
  padding: .5rem 0 .5rem 9.5rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px solid #d4d4d4;
  text-decoration: none;
  color: #000;
}

.searchbar-navigate {
  text-decoration: none;
  color: #000;
}

.searchbar-search {
  height: 2rem;
  width: 25rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #d4d4d4;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 5rem 0rem 5rem;
  flex-direction: column;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 25rem;
  border: 1px solid #d4d4d4;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.product-card:hover {
  border: 1px solid #000;
}

.product-name, .product-feedback {
  color: #000;
}

.product-price {
  font-family: "Poppins Bold";
  color: #1068cc;
}

.product-feedback {
  margin-left: .5rem;
}

.stars-feedback {
  width: 1rem;
  height: 1rem;
}

.review {
  display: flex;
  gap: 0.2rem;
  place-items: center;
}

.home-products {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-template-rows: auto;
  gap: 1rem;
}

.product-image {
  align-self: center;
  width: 10rem;
  height: 12rem;
}

.filter {
  display: flex;
  gap: 2rem;
}

.filter > button {
  border: 1px solid #868686;
  border-radius: 10rem;
  padding: .3rem;
  cursor: pointer; 
  color: #868686;
}

.filter > button:hover {
  opacity: .8;
}

.favorite-button {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: 1px #868686 solid;
  display: flex;
  justify-content: center;
  place-items: center;
}

.heart-icon {
  width: 1rem;
  height: 1rem;
}

.product-page {
  display: flex;
  gap: 5rem;
  /* justify-content: center; */
}