@font-face {
  font-family: "Poppins Regular";
  src: url(../public/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../public/font/Poppins-Bold.ttf);
}

* {
  font-family: "Poppins Regular";
  box-sizing: border-box;
}

html { 
  max-width: 100vw;
  /* min-width: 62rem; */
  min-width: 65.1rem;
  background-color: red;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 5rem 0 0 0rem;
}

.banner {
  max-width: 100%;
  width: 100%;
  min-width: 75%;
  height: 25.6rem;
  background: url(../public/img/banner.png) no-repeat center;
}

/* SEARCHBAR */
.searchbar {
  position: sticky;
  top: 0;
  padding: .5rem 10% .5rem 5%;
  justify-content: center;
  max-width: 100vw;
  min-width: 65rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.55);
  z-index: 999;
}

.searchbar-navigate {
  text-decoration: none;
  color: #000;
  position: relative;
}

.searchbar-cart-number {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: .5rem;
  border-radius: 50%;
}

.searchbar-search {
  height: 2rem;
  width: 25rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: url(../public/img/search-icon.png) no-repeat center #dbdbdb;
  background-size: 5%;
  background-position: 97%;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  flex-direction: column;
  width: 100%;
}

.main-container {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

.sb-home {
  color: #1068cc;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 25rem;
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  background-color: #fff;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 15rem;
  height: 100%;
  padding: 1rem;
  gap: 3rem;
}

.product-card:hover {
  border: 1px solid #d4d4d4;
}

.product-name, .product-feedback {
  margin: 0;
}

.product-name {
  color: #000;
  max-width: 15rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-feedback {
  color: #a1a1a1;
}

.product-price {
  font-family: "Poppins Bold";
  color: #1068cc;
  margin: 0rem 0 0 0;
}

.product-feedback {
  margin-left: .5rem;
}

.product-page {
  background-color: #fff;
  width: 98.5vw;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.stars-feedback {
  width: 1rem;
  height: 1rem;
}

.review {
  display: flex;
  gap: 0.2rem;
  place-items: center;
  margin-bottom: .5rem;
}

.home-products, .filter-page, .search-page {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: auto;
  gap: 1rem;
  place-items: center;
  padding-top: 1.5rem;
}

.superior, .inferior {
  display: flex;
}

.superior {
  gap: 5rem;
  align-items: center;
  height: 100%;
}

.inferior {
  place-items: center;
  gap: 1rem;
}

.product-image {
  align-self: center;
  width: 100%;
  max-width: 12rem;
  max-height: 90%;
}

.product-showoff {
  margin: 0 auto;
  max-width: 23rem;
  max-height: 26rem;
}

.h1-name {
  font-size: 1.5rem;
  margin-top: 0;
}

.product-image-container {
  max-width: 45rem;
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  padding-inline: 4%;
}

.filter-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #1068cc;
}

.search-page {
  min-height: 30rem;
}

.top-buttons {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: flex;
  gap: .5rem;
  z-index: 99;
}

.favorite-page {
  min-height: 78vh;
}

.favorite-button, .cart-button {
  cursor: pointer;
  width: 2rem;
  min-height: 2rem;
}

.heart-icon, .cart-icon {
  width: 1.5rem;
}

#favorite-button-product {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
}

.buy-button {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 25rem;
}

.product-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #e3ebf1;
  color: #1068cc;
  height: 3rem;
  width: 100%;
  border-radius: 25rem;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  gap: .5rem;
}

.cart-buy-button {
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.buy-button:hover, .cart-button:hover {
  opacity: 0.8;
}

.product-related {
  width: 22rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-page {
  display: flex;
  gap: 2rem;
  padding-top: 1.5rem;
  min-height: 78vh;
}

.cart-info {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  width: 20rem;
  height: 16.5rem;
}

.product-cart {
  position: relative;
  display: flex;
  width: 40rem;
  height: 8rem;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  justify-content: space-between;
}

.cart-options {
  align-self: center;
  padding-right: 2rem;
}

.cart-quantity {
  display: flex;
  height: 1.5rem;
  max-width: 5.5rem;
  min-width: 5.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: .8rem;
  border: 1px solid #d4d4d4;
}

.quantity-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.number-quantity {
  align-self: center;
}

.cart-delete-item {
  cursor: pointer;
  color: #ca4260;
  text-decoration: underline;
  align-self: center;
  padding-right: 2rem;
}

.cart-paragraph {
  display: flex;
  justify-content: space-between;
}

.cart-paragraph > p, h6 {
  margin-block: .5rem;
}

.cart-product-name {
  margin: 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15rem;
}

.product-cart-image {
  width: 5rem;
  max-height: 6rem;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cart-item {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 1.5rem;
  padding: .5rem;
  cursor: pointer;
  max-width: 25rem;
}

.noItems-cart  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-cart {
  position: absolute;
  top: -.2rem;
  right: -1rem;
  height: .9rem;
  width: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5151;
  color: #fff;
  border-radius: 50%;
  font-size: 80%;
}

.search-products {
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.footer {
  height: 10rem;
  width: 100%;
  color: #fff;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1068cc;
}

.footer p, h3 {
  margin: .5rem;
}

.footer p {
  color: #6a88aa;
}

.go-back {
  width: 100%;
  height: 3rem;
}

.go-back button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 550;
  background-color: #2d89f1;
}

.go-back button:hover {
  background-color: #4d9af1;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background-color: #ececec;
  padding: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1068cc;
  border-radius: 25rem;
  height: 5rem;
}