@font-face {
  font-family: "Poppins Regular";
  src: url(../public/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../public/font/Poppins-Bold.ttf);
}

* {
  font-family: "Poppins Regular";
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 5rem 0 0 25rem ;
}

/* SEARCHBAR */
.searchbar {
  position: absolute;
  top: 0;
  padding: .5rem 0 .5rem 9.5rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px solid #d4d4d4;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.searchbar-navigate {
  text-decoration: none;
  color: #000;
}

.searchbar-search {
  height: 2rem;
  width: 25rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #dddada;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 5rem 0rem 5rem;
  flex-direction: column;
}

.main-container {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.sb-home {
  color: #1068cc;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 25rem;
  border: 1px solid #d4d4d4;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  background-color: #fff;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 15rem;
  height: 25rem;
  padding: 1rem;
}

.product-card:hover {
  border: 1px solid #000;
}

.product-name, .product-feedback {
  color: #000;
  margin: 0;
}

.product-price {
  font-family: "Poppins Bold";
  color: #1068cc;
  margin: 3rem 0 0 0;
}

.product-feedback {
  margin-left: .5rem;
}

.stars-feedback {
  width: 1rem;
  height: 1rem;
}

.review {
  display: flex;
  gap: 0.2rem;
  place-items: center;
}

.home-products {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-template-rows: auto;
  gap: 1rem;
}

.superior, .inferior {
  display: flex;
}

.superior {
  gap: 5rem;
}

.inferior {
  place-items: center;
  gap: 1rem
}

.product-image {
  align-self: center;
  width: 9rem;
  max-height: 10rem;
}

.filter {
  display: flex;
  gap: 2rem;
}

.filter > button {
  border: 1px solid #868686;
  border-radius: 10rem;
  padding: .3rem;
  cursor: pointer; 
  color: #868686;
}

.filter > button:hover {
  opacity: .8;
}

.top-buttons {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: flex;
  gap: .5rem;
}

.favorite-button, .cart-button {
  cursor: pointer;
  width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: 1px #868686 solid;
  display: flex;
  justify-content: center;
  place-items: center;
}

.heart-icon, .cart-icon {
  width: 1rem;
  height: 1rem;
}

#favorite-button-product {
  cursor: pointer;
  width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: 1px #868686 solid;
  display: flex;
  justify-content: center;
  place-items: center;
}

.buy-button {
  margin-right: 3rem;
  width: 10rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.cart-buy-button {
  margin-top: 1rem;
  margin-right: 3rem;
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.product-cart-button {
  cursor: pointer;
  border: 1px solid #1068cc;
  outline: none;
  background-color: #fff;
  color: #1068cc;
  height: 2.5rem;
  width: 8rem;
  border-radius: 5px;
}

.buy-button:hover, .cart-button:hover {
  opacity: 0.8;
}

.product-related {
  width: 22rem;
}

.cart-page {
  display: flex;
  gap: 2rem;
}

.cart-info {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  width: 20rem;
  max-height: 20rem;
}

.product-cart {
  position: relative;
  display: flex;
  width: 40rem;
  height: 8rem;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}

.cart-paragraph {
  display: flex;
  justify-content: space-between;
}

.cart-paragraph > p, h6 {
  margin-block: .5rem;
} 

.product-cart-image {
  width: 5rem;
  max-height: 6rem;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cart-item {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 1.5rem;
  padding: .5rem;
  cursor: pointer;
}

.noItems-cart  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-products {
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #1068cc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}